$navbar-background-color: #631878;

$page-background-color: #000;
$page-text-color: #FFF;

$control-text-color: #92d36e;
$button-border-color: #4dd7fa;

$table-heading-background-color: #232323;
$table-odd-row-background-color: #606060;
$table-even-row-background-color: #444;
$table-body-text-color: #f6a2bf;