<div class="SearchPage">

  <div class="SearchPage__loader" *ngIf="!tmdbApiReady">
    <p>{{gettext("initing_api")}}</p>
  </div>

  <div class="SearchPage__controls" *ngIf="tmdbApiReady">
    <div class="SearchFilters">
      <div class="SearchFilters__icon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <div class="SearchFilters__input-group">
        <input
            #search
            type="text"
            placeholder="Search"
            ngModel
            (keyup.enter)="startSearch(search.value)"
        />
        <button
            [disabled]="loading || !search.value"
            (click)="startSearch(search.value)"
        >
          {{gettext("search")}}
        </button>
      </div>
    </div>
  </div>

  <div class="SearchPage__content" *ngIf="tmdbApiReady">
    <div class="SearchResults">
      <div class="SearchResults__header">

        <span *ngIf="!(themoviedbService.searchEverInitialized)">{{gettext("waiting_for_search")}}</span>

        <span *ngIf="loading">{{gettext("loading_results")}} ({{results.length}} {{gettext("found")}})</span>

        <span *ngIf="themoviedbService.searchEverInitialized && !loading">
          <span *ngIf="results.length">
            {{gettext("search_done_found_results_x")}} {{results.length}}
            <button
                *ngIf="themoviedbService.movie_pagination_pending || themoviedbService.tvshow_pagination_pending"
                [disabled]="loading"
                (click)="loadMore()"
            >
              {{gettext("found_more_results_click_to_load")}}
            </button>
          </span>
          <span *ngIf="!(results.length)">{{gettext("no_results_found")}}</span>
        </span>

      </div>
      <div class="SearchResults__content" *ngIf="themoviedbService.searchEverInitialized && results.length">
        <app-publification-table
            [publifications]="results"
        ></app-publification-table>
      </div>
    </div>
  </div>

</div>