<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-3"></div>
      <div class="col">
        Show tracked:
        <div class="row">
          <div class="col-1">
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                (change)="checkboxChange(movietype,$event.target.checked)"
              >
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Movies</span>
            </label>
          </div>
          <div class="col-1">
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                (change)="checkboxChange(serietype,$event.target.checked)"
              >
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Series</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col"> <ul></ul>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Type</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let movie of movies">
         <th scope="row">{{movie.getReleaseDateAsString()}}</th>
         <td>{{movie.getFullName()}}</td>
         <td>{{movie.type}}</td>
         <td><span *ngFor="let genre of movie.genres">{{genre }}</span></td>
         <td>
           <label class="form-check-label">
             <button class="btn btn-danger" (click)="Onclick(movie.release_date,movie.name)">Remove</button>
           </label>
         </td>
       </tr>
     </tbody>
    </table>
  </div>
</div>
