<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-3"></div>
      <div class="col">
        {{getText("show_tracked")}}:
        <div class="row">
          <div class="col-1">
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                (change)="checkboxChange(movietype,$event.target.checked)"
              >
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{getText("a_movie")}}</span>
            </label>
          </div>
          <div class="col-1">
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                (change)="checkboxChange(serietype,$event.target.checked)"
              >
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{getText("a_tvserie")}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col"> <ul></ul>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>{{getText("publication_release_date")}}</th>
          <th>{{getText("publication_title")}}</th>
          <th>{{getText("publication_type")}}</th>
          <th>{{getText("publication_genres")}}</th>
          <th>{{""}}</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let movie of movies">
         <td scope="row">{{changeDate(movie.release_date)}}</td>
         <td>{{movie.name}}</td>
         <td>{{movie.type}}</td>
         <td><span *ngFor="let genre of movie.genres">{{genre}}{{", "}}</span></td>
         <td>
           <label class="form-check-label">
             <button class="btn btn-danger" (click)="Onclick(movie.release_date,movie.name)">Remove</button>
           </label>
         </td>
       </tr>
     </tbody>
    </table>
  </div>
</div>
<div id="NoneTracked" *ngIf="movies.length==0">
  {{getText("you_don't_have_eny_tracked_items._go_to")}} <a routerLink="/search">{{getText("search_page")}}</a>
</div>
