nav{
  background-color: #631878;
}
.navbar-light a.nav-link{
  color: #92d36e;
}
.navbar-light a.nav-link:hover{
  color:#4dd7fa;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
  color: #92d36e;
}
.navbar .navbar-toggleable-md .navbar-light .bg-faded{
  float: right;
}
